
.toggleMenu {
    display:  block;       
    color: #fff;
	text-indent:-999999px;
	width:50px;
	height:25px;
	float:right;
}
.main_menu_mobile  {
    list-style: none;
     *zoom: 1;
     background:#b0272a;
	 position:absolute;
	 top:105%;
	 right:0;
	 width:100%;
}
.main_menu_mobile:before,
.main_menu_mobile:after {
    content: " "; 
    display: table; 
}
.main_menu_mobile:after {
    clear: both;
}
.main_menu_mobile ul {
    list-style: none;
    awidth: 9em;
	background: #ca4f52;
}
.main_menu_mobile a {
    padding: 10px 0px;
    color:#fff;		
	 border-top: 1px dashed #7d090b;
	 margin:0 10px;
	 font-size:14px
}
.main_menu_mobile a.first {
	border-top: 0px dashed #7d090b;
}
.main_menu_mobile li {
    position: relative;			
}

.main_menu_mobile > li {
    float: left;
   
}
.main_menu_mobile > li > .parent {
    background-image: url("../images/material/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.main_menu_mobile > li > a {
    display: block;
}
.main_menu_mobile li  ul {
    position: absolute;
    left: -9999px;
}
.main_menu_mobile > li.hover > ul {
    aleft: 0;
}
.main_menu_mobile li li.hover ul {
    aleft: 100%;
    atop: 0;
}
.main_menu_mobile li li a {
    display: block;    
    position: relative;
    z-index:100;  
	font-size:12px;
}
.main_menu_mobile li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (min-width: 140px) {
    .active {
        display: block;
    }
    .main_menu_mobile > li {
        float: none;
    }
    .main_menu_mobile > li > .parent {
        background-position: 99% 50%;
    }
    .main_menu_mobile li li .parent {
        background-image: url("../images/material/downArrow.png");
        background-repeat: no-repeat;
        background-position: 99% 50%;
    }
    .main_menu_mobile ul {
        display: block;
        width: 100%;
    }
   .main_menu_mobile > li.hover > ul , .main_menu_mobile li li.hover ul {
        position: static;
    }

}